
.card {
  background-image: url('https://i.pinimg.com/474x/95/ac/1b/95ac1b8fe647a105e38e8e22a07119ec.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: rgba(86, 7, 242, 0.87); */
  margin: 35px;
  width: 17rem;
  border-radius: 10px;
  display: inline-block;
  box-sizing: content-box;
  min-height: 150px;
  border-color: #22043dda;
  border-width: 1.5px;
  border-style: solid;
}

.name {
  text-align: center;
  font-family: 'Hoefler Text', cursive;
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
  0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
  text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e60073, 0 0 50px #e60073,
  0 0 60px #e60073, 0 0 70px #e60073, 0 0 80px #e60073;
}

.img{
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.typeStyle {
  font-size: 1.5rem;
  list-style-type: none;
  color: #2e023b;
  text-decoration-line: none;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'papyrus', cursive;
}

ul li {
  text-align: center;
  align-content: center;
}

