
.card {
  background-image: url('../assets/cardback.jpg');
  /* background: linear-gradient(#08aeea, #2af598); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 35px;
  width: 17rem;
  min-height: 150px;
  border-radius: 10px;
  display: inline-block;
  box-sizing: content-box;
  border-color: #22043dda;
  border-width: 1.5px;
  border-style: solid;
}

.card:hover {
  opacity: 0.8;
}

/* font-family: 'Lobster', cursive; */
.name {
  text-align: center;
  font-family: 'Hoefler Text', cursive;
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
  0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
  text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e60073, 0 0 50px #e60073,
  0 0 60px #e60073, 0 0 70px #e60073, 0 0 80px #e60073;
}

.img {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.typeStyle {
  font-size: 1.5rem;
  list-style-type: none;
  color: #1d0218;
  text-decoration-line: none;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'Merienda', cursive;
  font-weight: bold;
}

ul li {
  text-align: center;
  align-content: center;
}

