.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.number {
  margin-left: 10px;
  align-items: center;
  display: inline;
  padding: 8px;
  }

.button {
  background-color:rgb(221, 4, 221);
  border-radius: 20%;
  transition-duration: 0.3s;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.button:focus
{outline:none }

.button:hover {
  cursor:pointer;
  background-color: yellow ;
  /* color: rgb(221, 4, 221)*/
} 

.active {
  background-color: blue;
  color:aquamarine
}

