.searchContainer{
  display: flex;
  justify-content: center;
}

.searchBox{
  position: relative;
}

.searchButton{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;

  border: none;
  background: none;
}

.searchInput{
  font-size: 1.2rem;
  height: 30px;
  border-radius:10px;
  border: 1px solid whitesmoke;
  padding: 5px 30px 5px 10px; /*In order letters not to go through the magnifying glass*/
}

.searchInput:focus,
.searchButton:focus{
  border: 1px solid #f88ec2;
  box-shadow: 0 0 5px #ebbed4;
  outline: none; /* saca eel recuadro que aparece cuando escribimos*/
}
